{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3>Manage Area</h3>
    <hr>
    <table id="mytable" class="table data">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th>AreaName</th>
                <th>CreationDate</th>
                <th>Action</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
          {%for do in donationarea%}
            <tr class="text-center">
                <th>{{forloop.counter}}</th>
                <td>{{do.arename}}</td>
                <td>{{do.creationdate}}</td>
                <td><a href="{% url 'edit_area' do.id %}">Edit</a></td>
                <td><a href="{%url 'delete_area' do.id%}" class="text-danger" onclick="return confirm('Are you sure you want to delete ?')">Delete</a></td>
              </tr>
              {%endfor%}
        </tbody>
    </table>
  </div>
{% endblock main %}